/.idea/
/env/
/kynetec_best_possible_uncertainty/figures/
/kynetec_best_possible_uncertainty/scores/
/lca_processes_categories/output/
/processes_names_tagging/data/
/processes_names_tagging/output/
/simapro_name_parsing/data/
